*{
    margin:0;
    padding:0;
}
.banner{
    width:200%;
    height:100vh;
    background-image: linear-gradient
    (rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size:cover;
    background-position: center;
}
.img-fluid{
    width:700%;
    height: 100vh;
}
.navbar {
    position: fixed; /* Fixed positioning to keep it in the viewport */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    padding: 10px; /* Optional padding for some spacing around the logo */
    background-color: #f1f1f1; /* Optional background color */
    z-index: 1000; /* Set a high z-index to ensure it's on top of other content */
  }

  .logo {
    width: 100px; /* Adjust the width of the logo as needed */
    height: auto; /* Let the height scale accordingly to maintain aspect ratio */
  }
.content{
    width:100%;
    position: absolute;
    top:40%;
    transform:translateY(-50);
    text-align:center;
    color:white;
}
.content h1{
    font-size:70px;
    margin-top: -55px;
    color:red
}
.content p{
    margin:20px auto;
    font-weight:100;
    line-height:25px;
}

button{
    width:200px;
    padding:15px 0;
    text-align: center;
    margin:20px 10px;
    border-radius:25px ;
    font-weight: bold;
    border:2px solid red;
    background: transparent;
    color:#fff ;
    cursor:pointer;
    position:relative;
    overflow:hidden;
}
span{
    /* background: red; */
    height:100%;
    width:100%;
    border-radius: 25px;
    position: absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;

}
button:hover span{
     width:100%;
}
button:hover{
    border:none;
}